{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>

<p>Our warm and responsive educators are true professionals who make each family feel a sense of belonging, creating an
    atmosphere in which every infant can flourish. Our parents enjoy being part of each day through our classroom
    webcams.</p>

{% for kid in school %} {% if loop.index % 2 != 0 %}
<div class="row featurette">
    <div class="col-md-7">
        <h3><a href="/about/{{ kid.url }}">{{ loop.index }}. {{ kid.name }}</a></h3>
        <p>{{ kid.description }}</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ kid.image_source }}" alt="Picture of {{ kid.name }}">
    </div>
</div>
{% else %}
<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ kid.image_source }}" alt="Picture of {{ kid.name }}">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ kid.url }}">{{ loop.index }}. {{ kid.name }}</a></h3>
        <p>{{ kid.description }}</p>
    </div>
</div>
{% endif %} {% if loop.index != 13 %}
<hr class="featurette-divider"> {% endif %} {% endfor %} {% endblock %}